.r5mFeedback__text {
  font-family: "Open Sans", sans-serif;
}

.r5mFeedback__input_onpage,
.r5mFeedback__text_onpage {
    background: transparent;
    border: 1px solid #f8f8f8;
    color: #f8f8f8;
}

.r5mFeedback__text_onpage {
  height: 150px;
}

.footer .r5mFeedback__text_onpage {
  height: 100%;
}

.r5mFeedback__label_contacts.r5mFeedback__label_onpage:first-of-type {
  padding-right: 10px;
  margin-left: 0;
}

.r5mFeedback__label_contacts.r5mFeedback__label_onpage {
  width: 50%;
  box-sizing: border-box;
  /*margin-left: 3%;*/
  margin-right: 0;
  /*display: inline-block;*/
  float: left;
}

.r5mFeedback__label_text.r5mFeedback__label_onpage {
  width: 100%;
}

.reasons-offer__actions__order.submit-button_onpage {
  float: right;
  margin: 0;
  margin-top: 10px;
}

.r5mFeedback__label_onpage .r5mFeedback__placeholder.r5mFeedback__placeholder-top {
  color: #99999a;
}

.r5m-dimmer .r5mFeedback__submit-button {
  background: #08a899;
  border-color: #08a899;
}

.r5m-dimmer .r5mFeedback__submit-button:hover {
  color: #2b2a29;
}

.r5m-dimmer .r5mFeedback__form__header {
  text-transform: none;
  font-weight: bold;
}

.r5m-dimmer .r5mFeedback p {
  color: #2b2a29;
}
