.footer {
  background: #183641;
  color: #f8f8f8;
  position: relative;
}

.footer__feedback__title {
  margin-bottom: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__feedback__subtitle {
  margin-top: 0;
  font-weight: normal;
}

.footer__feedback__title__wow {
  color: #00bfad;
}

.footer__info-wrapper {
  float: left;
}

.footer__info__name {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.footer__info__ogrnip {
  color: #8d9fb8;
  margin-top: 0;
}

.copyleft {
  margin-top: 40px;
}

.copyright__contact {
  margin: 0;
  margin-bottom: 10px;
}

.copyright__contact__phone {
  font-size: 1.2rem;
  font-weight: bold;
}

.copyright {
  position: absolute;
  bottom: 60px;
  color: #8d9fb8;
}

.footer__feedback-wrapper {
  width: 50%;
  min-width: 500px;
  float: right;
  margin-bottom: 20px;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__bottom {
  height: 50px;
  background: #0a222e;
}
