.footer {
  background: #183641;
  color: #f8f8f8;
}

.footer__feedback__title {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__feedback__subtitle {
  margin-top: 0;
  font-weight: normal;
}

.footer__feedback__title__wow {
  color: #00bfad;
}

.footer__info-wrapper {
  float: left;
  width: 50%;
}

.footer__feedback-wrapper {
  width: 50%;
  float: right;
  margin-bottom: 20px;
  text-align: center;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__feedback__form .r5mFeedback__input,
.footer__feedback__form .r5mFeedback__text {
  background: transparent;
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
}

.footer__feedback__form .r5mFeedback__label_contacts {
  width: 45%;
  margin-right: 5%;
  display: inline-block;
}

.footer__feedback__form .r5mFeedback__label_text {
  width: 95%;
}

.footer__feedback-wrapper .reasons-offer__actions__order {
  float: right;
  margin-right: 5%;
  margin-top: 10px;
}

.footer__bottom {
  height: 50px;
  background: #0a222e;
}
