.header-top {
  padding: 20px 0 10px;
  background: #f8f8f8 /* #1F2731; F3B840;EC8558*/;
  /*border-bottom: solid 1px #F3B840;*/
  color: #1F2731;
}

.header-top__logo {
  float: left;
  font-family: 'Roboto Slab', serif;
}

.header-top__call-me,
.header-top__order {
  float: right;
}

.header-top__call-me {
  margin-left: 10px;
  padding-left: 10px;
}

.header-top__call-me__button {
  background: #fcc700;
  color: #262936;
  box-shadow: 0 0 2px black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.header-top__order__phone {
  color: inherit;
  text-decoration: none;
}

.header-top__logo__link {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: top;
}

.header-top__logo__link__title {
  text-transform: uppercase;
  vertical-align: top;
  line-height: 1;
}

.header-top__logo__link__subtitle {
  position: relative;
  top: 1.5rem;
  vertical-align: top;
  font-size: 0.7rem;
}

.header-top__order {
  text-align: center;
  font-weight: 700;
  line-height: 1.25;
}

.header-top__call-me__schedule {
  font-size: 0.75em;
}
