.offer {
  background-image: url("/images/offer-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  /*background-color: #2d313e;*/
  color: #f8f8f8;
}

.offer__shadow {
  background: rgba(36, 44, 55, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.offer__container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.offer__picture-wrapper {
  width: 45%;
  min-width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  padding: 0 20px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.offer__picture {
  max-height: 100%;
  max-width: 100%;
  display: block;
  border-radius: 6px;
  /*position: absolute;
  top: -3px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);*/
}

.offer__feedback-wrapper {
  width: 55%;
  /*min-width: 500px;*/
  margin-left: 45%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.offer__feedback__form {
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
  background-size: auto 65px;
  background-position: right 280px bottom 0;
}

.offer__title {

  color: #f8f8f8;
  position: relative;
  border-color: #999;
  margin-bottom: 20px;

  text-align: left;
  text-transform: none;
  font-size: 1.3rem;
}

.offer__title__wow {
  color: #00bfad;
}
