.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__list__item {
  margin: 0 0 40px 0;
}

.portfolio__list__item__description__images {
  float: right;
  width: 40%;
}

.portfolio__list__item__description__images img {
  width: 100%;
  border-radius: 6px;
  vertical-align: bottom;
}

.portfolio__list__item__description__text {
  margin-right: 40%;
  padding: 0 40px 0 0;
  text-align: left;
}

.portfolio__list__item__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #0e2f3e;
  margin: 0;
}

.portfolio__list__item__link {
  cursor: pointer;
  color: #262936;
}

.portfolio__list__item__link:hover {
  /*background: #08a899;*/
  color: black;
}


.portfolio__list__item:nth-child(2n) .portfolio__list__item__description__images {
  float: left;
}

.portfolio__list__item:nth-child(2n) .portfolio__list__item__description__text {
  margin: 0 0 0 40%;
  padding: 0 0 0 40px;
}

.portfolio__list__item__works {
  list-style-type: none;
  padding: 0 20px;
}

.portfolio__list__item__works li {
  padding: 2px 0;
}


.portfolio__list__item__description__images {
  position: relative;
}

.portfolio__list__item__description__images a::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: rgba(0,0,0,0.25);
  border-radius: 6px;
  opacity: 0;
}

.portfolio__list__item__description__images:hover a::before {
  opacity: 1;
  transition: opacity 0.5s;
}
