.reasons__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reasons-header {
  margin: 20px auto;
}

.reasons__list__reason {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 25%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

.reasons__list__reason__title {
  color: #0e2f3e;
}

.reasons__list__reason__description {
  font-size: 0.9rem;
  text-align: center;
  color: #3a4646;
}

.reasons-offer {
  background: #2d313e;
  color: #f8f8f8;
}

.reasons__offer__container {
  max-width: 1000px;
}

.reasons-offer__title {
  margin-right: 300px;
  text-align: left;
  text-transform: none;
  font-size: 1.2rem;
  margin: 0;
  color: #f8f8f8;
}

.reasons-offer__actions {
  float: right;
  width: 300px;
}

.reasons-header {
  padding: 0 40px 20px;
  border-bottom: solid 1px #ccc;
  max-width: 800px;
}

.reasons-offer__title__wow {
  color: #00bfad;
}

.reasons-offer__actions__order {
  background: #00bfad;
  border: none;
  box-shadow: 0 0 1px #666;
  padding: 15px 30px;
  font-weight: bold;
  color: #f8f8f8;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.reasons-offer__actions__order:hover {
  color: #f8f8f8;
  background: #08a899;
}
