.team {
  text-align: center;
}

.team__member {
  display: inline-block;
  width: 33.3%;
  padding: 20px 30px;
  text-align: center;
  vertical-align: top;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team__member__description {
  margin: 0;
}

.team__member__info {
  color: #262936;
}

.team__member__name {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  color: #0e2f3e;
}

.team__member__position {
  margin: 0;
}

.team__member__photo {
  width: 80%;
}
