.why-we__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.why-we__list__item {
  vertical-align: top;
  display: inline-block;
  width: 50%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0 10px 0 0;
}

.why-we__list__item__header {
  text-transform: uppercase;
  color: #0e2f3e;
}

.why-we__list__item__description {
  color: #3a4646;
}
