.header-top {
  padding-top: 10px;
}

.header-container {
  padding: 20px 0;
}

.header__title {
  font-size: 1.4rem;
}

.header__subtitle {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.header-wrapper {
  background: none;
}

.header__actions {
  margin-top: 1.2rem;
}
