.offer__picture-wrapper {
  display: none;
}

.offer__feedback-wrapper {
  margin: 0;
  width: 100%;
}

.r5mFeedback__label_contacts.r5mFeedback__label_onpage {
  width: 100%;
  padding: 0;
}

.r5mFeedback__label_contacts.r5mFeedback__label_onpage:first-of-type {
  padding: 0;
}

.r5mFeedback__submit-button.reasons-offer__actions__order::before {
  display: none;
}

.section-content-list li {
  width: 100%;
}
