.portfolio__list__item__description__images,
.portfolio__list__item:nth-child(2n) .portfolio__list__item__description__images {
  float: none;
  width: 100%;
}

.portfolio__list__item__description__text {
  margin: 0;
  padding: 0;
}

.portfolio__list__item:nth-child(2n) .portfolio__list__item__description__text {
  margin: 0;
  padding: 0;
}

.portfolio__list__item__title {
  text-align: center;
  margin-bottom: 10px;
}
