<section class="call-to-order">
  <div class="flexible-container">
    <h2 class="section-header call-to-order-header">
      Закажите разработку <span class="utm4">посадочной страницы</span>
    </h2>
    <p class="call-to-order-content">
      Закажите сайт сейчас и получите все преимущества индивидуальной продающей страницы,
      <br/>а также мобильную версию сайта в подарок.
      <br/>Напишите нам на <a class="mailto-link" href="mailto:info@r5m.me">info@r5m.me</a> или воспользуйтесь формой обратной свзяи:
    </p>
    <p class="call-to-order-content">
      <button class="reasons-offer__actions__order r5m-action"
        data-action="r5mDimmer-show"
        data-type="question">
        Оставить заявку
      </button>
    </p>
  </div>
</section>
