<section class="certs">
  <div class="flexible-container">
    <h2 class="section-header team-header">
      Дипломы и сертификаты
    </h2>
    <p class="section-content">
      Наши специалисты постоянно проходят курсы переподготовки и повышения квалификации,
      а также принимают участие в профильных научных и практических конференциях для того,
      чтобы каждый компонент вашего сайта соответствовал лучшим Мировым практикам и стандартам.
    </p>
    <ul class="section-content-list">
      <li>
        <i class="fa fa-check"></i>
        Все разработчики имеют профильное высшее образование:
        <i>инженера</i>
        Автоматизированных систем обработки информации и управления или
        <i>магистра</i>
        Программной инженерии
      </li><%_
_%>   <li>
        <i class="fa fa-check"></i>
        Мы учимся у лучших:
        <i>Microsoft</i>,
        <i>MongoDB University</i>,
        <i>javascript.ru</i>, центр международной IT-подготовки
        <i>ТУСУР</i>, тренинговый центр
        <i>Синтон</i>, национальный открытый университет
        <i>Интуит</i>,
        центр онлайн обучения <i>Нетология</i>,
        <i>ConvertMonster</i>
      </li><%_
_%>   <li>
        <i class="fa fa-check"></i>
        Все разработчики прошли обучение по программам
        <i>&laquo;JavaScript/DOM/Интерфейсы&raquo;</i>
        и
        <i>&laquo;Node.js&raquo;</i>
        одного из лучших отечественных экспертов по веб-разработке И.&nbsp;Кантора
      </li><%_
_%>   <li>
        <i class="fa fa-check"></i>
        Наши специалисты занимаются профильной преподавательской и научной деятельностью, а также кураторством студенческих веб-проектов в Томском Государственном университете систем управления и радиоэлектроники.
      </li>
    </ul>
    <ul class="gallery-container">
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/3.jpg" data-alt="Курсы MongoDB">
            <img src="./images/certs/3.jpg" alt="Курсы MongoDB"/>
            <figcaption>Курсы MongoDB</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/4.jpg" data-alt="Курсы Microsoft">
            <img src="./images/certs/4.jpg" alt="Курсы Microsoft"/>
            <figcaption>Курсы Microsoft</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/1.png" data-alt="Курсы Photoshop">
            <img src="./images/certs/1.png" alt="Курсы Photoshop"/>
            <figcaption>Курсы Photoshop</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/2.png" data-alt="Курсы 3Ds Max">
            <img src="./images/certs/2.png" alt="Курсы 3Ds Max"/>
            <figcaption>Курсы 3Ds Max</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/6.jpg" data-alt="Дизайнер и Заказчик">
            <img src="./images/certs/6.jpg" alt="Дизайнер и Заказчик"/>
            <figcaption>Дизайнер и Заказчик</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/7.jpg" data-alt="Иллюстрации, инфографика, презентации">
            <img src="./images/certs/7.jpg" alt="Иллюстрации, инфографика, презентации"/>
            <figcaption>Инфографика</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/8.jpg" data-alt="Основы композиции">
            <img src="./images/certs/8.jpg" alt="Основы композиции"/>
            <figcaption>Основы композиции</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/9.jpg" data-alt="Основы скетчинга">
            <img src="./images/certs/9.jpg" alt="Основы скетчинга"/>
            <figcaption>Основы скетчинга</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/5.jpg" data-alt="Английский язык">
            <img src="./images/certs/5.jpg" alt="Английский язык"/>
            <figcaption>Английский язык</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/10.jpg" data-alt="Программирование на PHP">
            <img src="./images/certs/10.jpg" alt="Программирование на PHP"/>
            <figcaption>Программирование на PHP</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/11.jpg" data-alt="Программирование на Java">
            <img src="./images/certs/11.jpg" alt="Программирование на Java"/>
            <figcaption>Программирование на Java</figcaption>
          </figure>
        </a>
      </li>
      <li class="r5m-gallery-link" rel="certs">
        <a href="#">
          <figure class="r5m-gallery-img" data-href="./images/certs/full/12.jpg" data-alt="HTML5 development">
            <img src="./images/certs/12.jpg" alt="HTML5 development"/>
            <figcaption>HTML5 development</figcaption>
          </figure>
        </a>
      </li>
    </ul>

  </div>
</section>
