<section class="how-we-work">
  <div class="flexible-container">
    <h2 class="section-header reasons-header">
      Landing Page с R5M - это легко!
    </h2>
    <div class="hww__container">
      <ul class="hww">
        <li class="hww__item">
          <img class="hww__item__icon" src="./images/hww/1.png" alt="Оставляете заявку на сайте" />
          <div class="hww__item__description">
            Оставляете заявку на сайте
          </div>
        </li>
        <li class="hww__arrow"><i class="fa fa-angle-right"></i></li>
        <li class="hww__item">
          <img class="hww__item__icon" src="./images/hww/2.png" alt="Обсуждаем цели, проводим анализ конкурентов" />
          <div class="hww__item__description">
            Обсуждаем цели, проводим анализ конкурентов
          </div>
        </li>
        <li class="hww__arrow"><i class="fa fa-angle-right"></i></li>
        <li class="hww__item">
          <img class="hww__item__icon" src="./images/hww/3.png" alt="Прототипирование, макет" />
          <div class="hww__item__description">
            Прототипирование, макет, подготовка контента
          </div>
        </li>
        <li class="hww__arrow"><i class="fa fa-angle-right"></i></li>
        <li class="hww__item">
          <img class="hww__item__icon" src="./images/hww/4.png" alt="Разработка, размещение на хостинге" />
          <div class="hww__item__description">
            Разработка, размещение на хостинге, настройка рекламы
          </div>
        </li>
        <li class="hww__arrow"><i class="fa fa-angle-right"></i></li>
        <li class="hww__item">
          <img class="hww__item__icon" src="./images/hww/5.png" alt="Готовый сайт" />
          <div class="hww__item__description">
            Готовый сайт
          </div>
        </li>
      </ul>

    </div>

  </div>
</section>
