<section class="packages">
  <div class="flexible-container">
    <h2 class="section-header reasons-header">
      Наши цены
    </h2>
    <div class="packages__container clearfix">

      <div class="package__wrapper">
        <div class="package">
          <div class="package__header">
            <img class="package__header__icon" src="./images/packages/basic.png" alt="Иконка пакета"/>
            <img class="package__header__icon-yellow" src="./images/packages/basic-yellow.png" alt="Иконка пакета"/>
            <h3 class="package__header__title">Базовый</h3>
          </div>
          <ul class="package__info">
            <li class="package__info__item">1 макет дизайна</li>
            <li class="package__info__item">1 месяц гарантийного обслуживания</li>
            <li class="package__info__item">Анализ конкурентов</li>
            <li class="package__info__item">Индивидуальный дизайн сайта</li>
            <li class="package__info__item">1 год хостинга</li>
            <li class="package__info__item">Учёт статистики посещений</li>
            <li class="package__info__item">Доступ к сайту по протоколу HTTPS</li>
            <li class="package__info__item">Доменное имя .ru</li>
            <li class="package__info__item">Мобильная версия сайта</li>
            <li class="package__info__item">Регистрация в поисковых системах</li>
          </ul>
          <div class="package__order">
            <p class="package__order__price">15 000
              <i class="fa fa-rub"></i>
            </p>
            <button data-type="question" data-action="r5mDimmer-show" data-text="Пакет Базовый" class="package__order__button r5m-action">Заказать</button>
          </div>
        </div>
      </div>

      <div class="package__wrapper">
        <div class="package package-center">
          <img class="package__corner" src="./images/packages/corner-hit.png" alt="хит продаж" />
          <div class="package__header">
            <img class="package__header__icon" src="./images/packages/standart.png" alt="Иконка пакета"/>
            <img class="package__header__icon-yellow" src="./images/packages/standart-yellow.png" alt="Иконка пакета"/>
            <h3 class="package__header__title">Стандартный</h3>
          </div>
          <ul class="package__info">
            <li class="package__info__item">2 макета дизайна</li>
            <li class="package__info__item">3 месяца гарантийного обслуживания</li>
            <li class="package__info__item">Подготовка контента и внутренняя SEO-оптимизация</li>
            <li class="package__info__item">Анализ конкурентов</li>
            <li class="package__info__item">Индивидуальный дизайн сайта</li>
            <li class="package__info__item">1 год хостинга</li>
            <li class="package__info__item">Учёт статистики посещений</li>
            <li class="package__info__item">Доступ к сайту по протоколу HTTPS</li>
            <li class="package__info__item">Доменное имя .ru</li>
            <li class="package__info__item">Мобильная версия сайта</li>
            <li class="package__info__item">Регистрация в поисковых системах</li>
          </ul>
          <div class="package__order">
            <p class="package__order__price">25 000
              <i class="fa fa-rub"></i>
            </p>
            <button data-type="question" data-action="r5mDimmer-show" data-text="Пакет Стандарт" class="package__order__button r5m-action">Заказать</button>
          </div>
        </div>
      </div>

      <div class="package__wrapper">
        <div class="package">
          <div class="package__header">
            <img class="package__header__icon" src="./images/packages/premium.png" alt="Иконка пакета"/>
            <img class="package__header__icon-yellow" src="./images/packages/premium-yellow.png" alt="Иконка пакета"/>
            <h3 class="package__header__title">Премиум</h3>
          </div>
          <ul class="package__info">
            <li class="package__info__item">2 макета дизайна</li>
            <li class="package__info__item">6 месяцев гарантийного обслуживания</li>
            <li class="package__info__item">Подготовка контента и внутренняя SEO-оптимизация</li>
            <li class="package__info__item">Политика конфиденциальности</li>
            <li class="package__info__item">Онлайн чат в стилистике сайта</li>
            <li class="package__info__item">Анализ конкурентов</li>
            <li class="package__info__item">Индивидуальный дизайн сайта</li>
            <li class="package__info__item">1 год хостинга</li>
            <li class="package__info__item">Учёт статистики посещений</li>
            <li class="package__info__item">Доступ к сайту по протоколу HTTPS</li>
            <li class="package__info__item">Доменное имя .ru</li>
            <li class="package__info__item">Мобильная версия сайта</li>
            <li class="package__info__item">Регистрация в поисковых системах</li>
          </ul>
          <div class="package__order">
            <p class="package__order__price">35 000
              <i class="fa fa-rub"></i>
            </p>
            <button data-type="question" data-action="r5mDimmer-show" data-text="Пакет Премиум" class="package__order__button r5m-action">Заказать</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
