<section class="portfolio">
  <div class="flexible-container">
    <h2 class="portfolio-header reasons-header">
      Посмотрите некоторые наши работы
    </h2>

    <ul class="portfolio__list">
      <li class="portfolio__list__item clearfix">
        <div class="portfolio__list__item__description">
          <div class="portfolio__list__item__description__images new nomobile-only">
            <a href="https://interior-nk.ru" target="_blank">
              <img src="images/int-nk.png" alt="Сайт &laquo;Профессиональный дизайн интерьеров&raquo;">
            </a>
          </div>
          <div class="portfolio__list__item__description__text">
            <h3 class="portfolio__list__item__title">
              Профессиональный дизайн интерьеров
            </h3>
            <div class="portfolio__list__item__description__images new mobile-only">
              <a href="https://interior-nk.ru" target="_blank">
                <img src="images/int-nk.png" alt="Сайт &laquo;Профессиональный дизайн интерьеров&raquo;">
              </a>
            </div>
            <p class="nomobile-only">
              Создание персонального мини-сайта дизайнера интерьеров под ключ:
            </p>
            <ul class="portfolio__list__item__works nomobile-only">
              <li><i class="fa fa-check"></i>
                Анализ рынка и подготовка контента
              </li>
              <li><i class="fa fa-check"></i>
                Разработка структуры сайта и прототипирование
              </li>
              <li><i class="fa fa-check"></i>
                Разработка дизайна
              </li>
              <li><i class="fa fa-check"></i>
                Программная реализация сайта, размещение на хостинге
              </li>
              <li><i class="fa fa-check"></i>
                Настройка системы сбора статистики
              </li>
            </ul>
            <p>
              <a class="portfolio__list__item__link" href="https://interior-nk.ru" target="_blank">
                смотреть сайт
              </a>
            </p>
          </div>
        </div>
      </li>
      <li class="portfolio__list__item clearfix">
        <div class="portfolio__list__item__description">
          <div class="portfolio__list__item__description__images new nomobile-only">
            <a href="http://ckb-nk.ru" target="_blank">
              <img src="images/ckb-nk.png" alt="Сайт &laquo;Учебный центр комплексной безопасности&raquo;">
            </a>
          </div>
          <div class="portfolio__list__item__description__text">
            <h3 class="portfolio__list__item__title">
              Учебный центр комплексной безопасности
            </h3>
            <div class="portfolio__list__item__description__images new mobile-only">
              <a href="http://ckb-nk.ru" target="_blank">
                <img src="images/ckb-nk.png" alt="Сайт &laquo;Учебный центр комплексной безопасности&raquo;">
              </a>
            </div>
            <p class="nomobile-only">
              Разработка продающей страницы для учебного центра:
            </p>
            <ul class="portfolio__list__item__works nomobile-only">
              <li><i class="fa fa-check"></i>
                Анализ рынка и подготовка контента
              </li>
              <li><i class="fa fa-check"></i>
                Разработка структуры страницы и прототипирование
              </li>
              <li><i class="fa fa-check"></i>
                Разработка дизайна
              </li>
              <li><i class="fa fa-check"></i>
                Программная реализация лендинга, размещение на хостинге
              </li>
              <li><i class="fa fa-check"></i>
                Разработка мобильной версии продающей страницы
              </li>
              <li><i class="fa fa-check"></i>
                Настройка системы сбора статистики
              </li>
            </ul>
            <p>
              <a class="portfolio__list__item__link" href="http://ckb-nk.ru" target="_blank">смотреть сайт</a>
            </p>
          </div>
        </div>
      </li>
      <li class="portfolio__list__item clearfix">
        <div class="portfolio__list__item__description">
          <div class="portfolio__list__item__description__images nomobile-only">
            <a target="_blank" href="http://cpz-nk.ru">
              <img src="images/cpz-nk.png" alt="Сайт &laquo;Центр противопожарной защиты&raquo;">
            </a>
          </div>
          <div class="portfolio__list__item__description__text">
            <h3 class="portfolio__list__item__title">
              Центр противопожарной защиты
            </h3>
            <div class="portfolio__list__item__description__images mobile-only">
              <a target="_blank" href="http://cpz-nk.ru">
                <img src="images/cpz-nk.png" alt="Сайт &laquo;Центр противопожарной защиты&raquo;">
              </a>
            </div>
            <p class="nomobile-only">
              Разработка сайта группы компаний &laquo;Центр противопожарной защиты&raquo;:
            </p>
            <ul class="portfolio__list__item__works nomobile-only">
              <li><i class="fa fa-check"></i>
                Анализ рынка и подготовка контента
              </li>
              <li><i class="fa fa-check"></i>
                Разработка структуры сайта и прототипирование
              </li>
              <li><i class="fa fa-check"></i>
                Разработка дизайна
              </li>
              <li><i class="fa fa-check"></i>
                Программная реализация сайта, размещение на хостинге
              </li>
              <li><i class="fa fa-check"></i>
                Разработка мобильной версии сайта
              </li>
              <li><i class="fa fa-check"></i>
                Разработка панели администрирования сайта
              </li>
              <li><i class="fa fa-check"></i>
                Настройка системы сбора статистики
              </li>
            </ul>
            <p>
              <a class="portfolio__list__item__link" target="_blank" href="http://cpz-nk.ru">смотреть сайт</a>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
