<section class="portfolio">
  <div class="flexible-container">
    <h2 class="portfolio-header">
      Посмотрите некоторые наши работы
    </h2>

    <ul class="portfolio__list">
      <li class="portfolio__list__item clearfix">
        <div class="portfolio__list__item__description">
          <div class="portfolio__list__item__description__images">
            <img src="http://lorempixel.com/300/200/fashion" alt="Сайт &laquo;Профессиональный дизайн интерьеров&raquo;">
          </div>
          <div class="portfolio__list__item__description__text">
            <h3 class="portfolio__list__item__title">
              Профессиональный дизайн интерьеров
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </li>
      <li class="portfolio__list__item clearfix">
        <div class="portfolio__list__item__description">
          <div class="portfolio__list__item__description__images">
            <img src="http://lorempixel.com/300/200/business" alt="Сайт &laquo;Учебный центр комплексной безопасности&raquo;">
          </div>
          <div class="portfolio__list__item__description__text">
            <h3 class="portfolio__list__item__title">
              Учебный центр комплексной безопасности
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </li>
      <li class="portfolio__list__item clearfix">
        <div class="portfolio__list__item__description">
          <div class="portfolio__list__item__description__images">
            <img src="http://lorempixel.com/300/200/city" alt="Сайт &laquo;Центр противопожарной защиты&raquo;">
          </div>
          <div class="portfolio__list__item__description__text">
            <h3 class="portfolio__list__item__title">
              Центр противопожарной защиты
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
