<section class="reasons">
  <div class="flexible-container">
    <h2 class="section-header reasons-header">
      4 главных преимущества<br/>индивидуального сайта над шаблонным
    </h2>
    <ul class="reasons__list">
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Индивидуальный<br/>дизайн
        </h3>
        <p class="reasons__list__reason__description">
          <%# Сайт отражает идеи вашего бизнеса и имеет соответсвующую стилистику.%>
          Такой сайт внушает доверие. Люди запомнят вас и вернутся к вам снова.
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Оптимизация<br/>и еще слово
        </h3>
        <p class="reasons__list__reason__description">
          <%# 90% пользователей закрываю сайт, если он не загрузился в течение нескольких секунд.%>
          Индивидуальный сайт быстро загружается и правильно работает в любых соверменных браузерах.
          <%# Никакого "грязного кода" и технических ошибок, повышающих стоимость рекламы и снижающих конверсию.%>
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Удобство<br/>использования
        </h3>
        <p class="reasons__list__reason__description">
          <%# Разработке индивидуального сайта предшествует тщательный анализ предметной области.%>
          Вы получаете сайт для вашего бизнеса, а не подгоняете бизнес под дешевый сайт.
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Отсутствие<br/>ограничений
        </h3>
        <p class="reasons__list__reason__description">
          Это ваш сайт, и на нем должно быть именно то, что нужно вашему бизнесу (а не то, что было в шаблоне).
        </p>
      </li>
    </ul>
  </div>
</section>
