<section class="reasons">
  <div class="flexible-container">
    <h2 class="section-header">
      Зачем нужен индивидуальный сайт
    </h2>
    <ul class="reasons__list">
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Индивидуальный дизайн
        </h3>
        <p class="reasons__list__reason__description">
          <%# Сайт отражает идеи вашего бизнеса и имеет соответсвующую стилистику.%>
          Люди запомнят такой сайт и вернутся на него.
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          О - Оптимизация
        </h3>
        <p class="reasons__list__reason__description">
          <%# 90% пользователей закрываю сайт, если он не загрузился в течение нескольких секунд.%>
          Индивидуальный сайт быстро загружается и правильно работает в любых соверменных браузерах.
          <%# Никакого "грязного кода" и технических ошибок, повышающих стоимость рекламы и снижающих конверсию.%>
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Удобство использования
        </h3>
        <p class="reasons__list__reason__description">
          <%# Разработке индивидуального сайта предшествует тщательный анализ предметной области.%>
          Вы получаете сайт для вашего бизнеса, а не подгоняете бизнес под дешевый сайт.
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <h3 class="reasons__list__reason__title">
          Отсутствие ограничений
        </h3>
        <p class="reasons__list__reason__description">
          Это ваш сайт, и на нем должно быть именно то, что нужно вашему бизнесу (а не то, что было в шаблоне).
        </p>
      </li>
    </ul>
  </div>
</section>
