<section class="reasons">
  <div class="flexible-container">
    <h2 class="section-header reasons-header">
      4 главных преимущества<br/><span class="utm2">индивидуальной посадочной страницы</span>
    </h2>
    <ul class="reasons__list">
      <li class="reasons__list__reason">
        <img class="reasons__list__reason__image" src="./images/analysis.png" alt="Детальный анализ">
        <h3 class="reasons__list__reason__title">
          Детальный<br/>анализ рынка
        </h3>
        <p class="reasons__list__reason__description">
          <%# Сайт отражает идеи вашего бизнеса и имеет соответсвующую стилистику.%>
          <%# Такой сайт внушает доверие. Люди запомнят вас и вернутся к вам снова.%>
          <%# Разработка начинается с анализа предметной области и конкурентов.%>
          Глубокий анализ рынка и вашего бизнеса. <span class="utm3">Посадочная страница</span> отражает ваши преимущества и выделяется на фоне конкурентов
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <img class="reasons__list__reason__image" src="./images/quality.png" alt="Качество и оптимизация">
        <h3 class="reasons__list__reason__title">
          Качество<br/>и оптимизация
        </h3>
        <p class="reasons__list__reason__description">
          <%# 90% пользователей закрываю сайт, если он не загрузился в течение нескольких секунд.%>
          Ваш сайт быстро загружается и правильно работает в любых соверменных браузерах. Google и Yandex любят такие сайты
          <%# Никакого "грязного кода" и технических ошибок, повышающих стоимость рекламы и снижающих конверсию.%>
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <img class="reasons__list__reason__image" src="./images/development.png" alt="Постоянное развитие">
        <h3 class="reasons__list__reason__title">
          Постоянное<br/>развитие
        </h3>
        <p class="reasons__list__reason__description">
          <%# Разработке индивидуального сайта предшествует тщательный анализ предметной области.%>
          Сплит-тесты и новые блоки на сайте, обновление структуры и добавление новых элементов: ваш сайт легко поддерживать и развивать, находя новые решения для привлечения клиентов.
        </p>
      </li><% -%>
      <li class="reasons__list__reason">
        <img class="reasons__list__reason__image" src="./images/norestrictions.png" alt="Отсутствие ограничений">
        <h3 class="reasons__list__reason__title">
          Отсутствие<br/>ограничений
        </h3>
        <p class="reasons__list__reason__description">
          Это ваш сайт, и на нем должно быть именно то, что нужно вашему бизнесу (а не то, что было в шаблоне).
        </p>
      </li>
    </ul>
  </div>
</section>
