<section class="reasons-offer">
  <div class="offer__shadow"></div>
  <div class="flexible-container">
    <div class="reasons__offer__container">
      <div class="reasons-offer__actions nomobile-only">
        <button class="reasons-offer__actions__order r5m-action" data-action="r5mDimmer-show" data-type="question">
          Заказать Landing Page
        </button>
      </div>
      <h2 class="reasons-offer__title">
        Закажите ваш индивидуальный Landing Page сейчас и получите
        <b class="reasons-offer__title__wow">мобильную версию</b>
        сайта в подарок
      </h2>
      <div class="reasons-offer__actions mobile-only">
        <button class="reasons-offer__actions__order r5m-action" data-action="r5mDimmer-show" data-type="question">
          Заказать Landing Page
        </button>
      </div>
    </div>
  </div>
</section>
