<section class="reasons-offer">
  <div class="offer__shadow"></div>
  <div class="flexible-container">
    <div class="reasons__offer__container">
      <div class="reasons-offer__actions">
        <button class="reasons-offer__actions__order r5m-action" data-action="r5mDimmer-show" data-type="call">
          Узнать стоимость
        </button>
      </div>
      <h2 class="reasons-offer__title">
        Закажите расчет стоимости вашего индивидуального сайта и получите
        <b class="reasons-offer__title__wow">мобильную версию</b>
        сайта в подарок
      </h2>
    </div>
  </div>
</section>
