<section class="reasons-offer">
  <div class="flexible-container">
    <div class="reasons-offer__actions">
      <button class="r5m-action" data-action="r5mDimmer-show" data-type="call">
        Заказать сайт
      </button>
    </div>
    <h2 class="reasons-offer__title">
      Получите бесплатную консультацию и расчет стоимости Вашего индивидуального сайта
    </h2>    
  </div>
</section>
