<section class="team">
  <div class="flexible-container">
    <h2 class="section-header team-header">
      Наша команда
    </h2>
    <div class="team__member">
      <figure class="team__member__description">
        <div class="team__member__photo-wrapper">
          <img class="team__member__photo placeholder" src="./images/content-manager.png" alt="Настя - контент-менеджер" title="Настя - контент-менеджер">

          <img class="team__member__photo" src="./images/content-manager.png" alt="Настя - контент-менеджер" title="Настя - контент-менеджер">
          <img class="team__member__photo real" src="./images/team/ab.jpg" alt="Настя - контент-менеджер" title="Настя - контент-менеджер">
        </div>
        <figcaption class="team__member__info">
          <p class="team__member__name">Анастасия<br/>Белоконь</p>
          <p class="team__member__position">Контент-менеджер</p>
        </figcaption>
      </figure>
    </div><% -%>
    <div class="team__member">
      <figure class="team__member__description">
        <div class="team__member__photo-wrapper">
          <img class="team__member__photo placeholder" src="./images/director.png" alt="Юлия - исполнительный директор" title="Юлия - исполнительный директор">
          <img class="team__member__photo" src="./images/director.png" alt="Юлия - исполнительный директор" title="Юлия - исполнительный директор">
          <img class="team__member__photo real" src="./images/team/jz.jpg" alt="Юлия - исполнительный директор" title="Юлия - исполнительный директор">
        </div>
        <figcaption class="team__member__info">
          <p class="team__member__name">Юлия<br/>Захарченко</p>
          <p class="team__member__position">Исполнительный директор,<br/>дизайнер</p>
        </figcaption>
      </figure>
    </div><% -%>
    <%# <div class="team__member">
      <figure class="team__member__description">
        <div class="team__member__photo-wrapper">
          <img class="team__member__photo placeholder" src="./images/designer.png" alt="Лида - дизайнер" title="Лида - дизайнер">
          <img class="team__member__photo" src="./images/designer.png" alt="Лида - дизайнер" title="Лида - дизайнер">
          <img class="team__member__photo real" src="./images/designer.png" alt="Лида - дизайнер" title="Лида - дизайнер">
        </div>
        <figcaption class="team__member__info">
          <p class="team__member__name">Лидия<br/>Зимницкая</p>
          <p class="team__member__position">Дизайнер</p>
        </figcaption>
      </figure>
    </div>-%>
    <div class="team__member">
      <figure class="team__member__description">
        <div class="team__member__photo-wrapper">
          <img class="team__member__photo placeholder" src="./images/analyst.png" alt="Михаил - бизнес-аналитик" title="Михаил - бизнес-аналитик">

          <img class="team__member__photo" src="./images/analyst.png" alt="Михаил - бизнес-аналитик" title="Михаил - бизнес-аналитик">
          <img class="team__member__photo real" src="./images/team/mm.jpg" alt="Михаил - бизнес-аналитик" title="Михаил - бизнес-аналитик">
        </div>
        <figcaption class="team__member__info">
          <p class="team__member__name">Михаил<br/>Милихин</p>
          <p class="team__member__position">Бизнес-аналитик<br/>и проектировщик</p>
        </figcaption>
      </figure>
    </div><% -%>
    <div class="team__member">
      <figure class="team__member__description">
        <div class="team__member__photo-wrapper">
          <img class="team__member__photo placeholder" src="./images/programmer.png" alt="Михаил - специалист по контекстной рекламе" title="Михаил - специалист по контекстной рекламе">

          <img class="team__member__photo" src="./images/programmer.png" alt="Михаил - специалист по контекстной рекламе" title="Михаил - специалист по контекстной рекламе">
          <img class="team__member__photo real" src="./images/team/mr.jpg" alt="Михаил - специалист по контекстной рекламе" title="Михаил - специалист по контекстной рекламе">
        </div>
        <figcaption class="team__member__info">
          <p class="team__member__name">Михаил<br/>Рычагов</p>
          <p class="team__member__position">Специалист<br/>по контекстной рекламе</p>
        </figcaption>
      </figure>
    </div>
  </section>
