<section class="why-we">
  <div class="flexible-container">
    <h2 class="section-header">
      Почему создание сайта необходимо доверить нам?
    </h2>
    <ul class="why-we__list">
      <li class="why-we__list__item">
        <h3 class="why-we__list__item__header">
          Гарантия качества
        </h3>
        <p class="why-we__list__item__description">
          1 год гарантии и технического обслуживания
        </p>
      </li>
      <li class="why-we__list__item">
        <h3 class="why-we__list__item__header">
          Команда профессионалов
        </h3>
        <p class="why-we__list__item__description">
          Каждый - эксперт в своей области, мы вместе создаем идеальный сайт для вас
        </p>
      </li>
      <li class="why-we__list__item">
        <h3 class="why-we__list__item__header">
          Мобильная версия
        </h3>
        <p class="why-we__list__item__description">
          Опередите конкурентов, получив мобильную версию сайта в подарок
        </p>
      </li>
      <li class="why-we__list__item">
        <h3 class="why-we__list__item__header">
          Продуманный интерфейс
        </h3>
        <p class="why-we__list__item__description">
          Вы не увидите на своем сайте несочетающихся шрифтов, "съехавшей" верстки, а также красного текста на синем фоне :-)
        </p>
      </li>
    </ul>
  </div>
</section>
