<section class="why-we">
  <div class="flexible-container">
    <h2 class="section-header">
      Почему создание сайта необходимо доверить нам?
    </h2>
    <ul class="why-we__list">
      <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/quality-assurance.jpg" alt="Гарантия качества">
        <h3 class="why-we__list__item__header">
          Гарантия качества
        </h3>
        <p class="why-we__list__item__description">
          Вы получаете 1 год бесплатного гарантийного обслуживания вашего сайта.
        </p>
      </li>
      <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/turnkey-site.jpg" alt="Сайт под ключ">
        <h3 class="why-we__list__item__header">
          Сайт под ключ
        </h3>
        <p class="why-we__list__item__description">
          Прототипирование интерфейса, дизайн и оформление контента,
          программная реализация и размещение сайта на хостинге,
          регистрация доменного имени и контекстная реклама - это наша забота.
        </p>
      </li>
      <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/mobile-version.jpg" alt="Мобильная версия">
        <h3 class="why-we__list__item__header">
          Мобильная версия в подарок
        </h3>
        <p class="why-we__list__item__description">
          Получите преимущество над конкурентами:
          более 90% владельцев смартфонов используют мобильные устройства для поиска информации в Интернете.
        </p>
      </li>
      <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/interface.jpg" alt="Продуманный интерфейс">
        <h3 class="why-we__list__item__header">
          Продуманный интерфейс
        </h3>
        <p class="why-we__list__item__description">
          Вы не увидите на своем сайте несочетающихся шрифтов, "съехавшей" верстки, а также розового текста на розовом фоне.
          Вы сможете выбрать один из двух индивидуальных макетов дизайна, разработанных специально для вас.
        </p>
      </li>
    </ul>
  </div>
</section>
