<section class="why-we">
  <div class="flexible-container">
    <h2 class="section-header  reasons-header why-we-header">
      Почему создание сайта необходимо доверить нам?
    </h2>
    <ul class="why-we__list">
      <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/quality-assurance.jpg" alt="Гарантия качества">
        <h3 class="why-we__list__item__header">
          Гарантия качества и техническое сопровождение
        </h3>
        <p class="why-we__list__item__description">
          Вы получаете период бесплатного гарантийного обслуживания вашего сайта и выгодные цены на техническое сопровождение.
        </p>
      </li><%_
_%>   <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/turnkey-site.jpg" alt="Сайт под ключ">
        <h3 class="why-we__list__item__header">
          <span class="utm3">Landing Page</span> под ключ
        </h3>
        <p class="why-we__list__item__description">
          Анализ конкурентов, прототипирование интерфейса, индивидуальный дизайн, создание и размещение сайта на хостинге,
          регистрация доменного имени, настройка системы сбора аналитики и регистрация в поисковых системах - это наша забота.
        </p>
      </li><%_
_%>   <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/mobile-version.jpg" alt="Мобильная версия">
        <h3 class="why-we__list__item__header">
          Мобильная версия в подарок
        </h3>
        <p class="why-we__list__item__description">
          Получите преимущество над конкурентами:
          более 90% владельцев смартфонов используют мобильные устройства для поиска информации в Интернете.
        </p>
      </li><%_
_%>   <li class="why-we__list__item clearfix">
        <img class="why-we__list__item__image" src="./images/interface.jpg" alt="Продуманный интерфейс">
        <h3 class="why-we__list__item__header">
          Продуманный интерфейс
        </h3>
        <p class="why-we__list__item__description">
          Вы не увидите на своем сайте несочетающихся шрифтов, "съехавшей" верстки, а также розового текста на розовом фоне.
          Вы сможете выбрать один из двух индивидуальных макетов дизайна, разработанных специально для вас.
        </p>
      </li>
    </ul>
  </div>
</section>
