<footer class="footer">
  <div class="footer-dark">

    <div class="flexible-container">

      <div class="copyleft">
        <p class="copyright__contact">Милихина Юлия</p>
        <p class="copyright__contact">+7 904 968 1827</p>
        <p class="copyright__contact">milihinajp@gmail.com</p>
        <p class="copyright__contact">г. Новокузнецк</p>
      </div>
      <div class="copyright">
        &copy; 2016
      </div>
    </div>
  </div>
</footer>
