<header class="header clearfix">
  <div class="flexible-container">
      <div>
        <h1>
          Индивидуальные сайты для вашего бизнеса под ключ от 25 000р.
        </h1>
        <h2>
          Мы делаем сайты, в которые вы влюбляетесь
        </h2>
      </div>
      <%- include('./_menu.ejs') %>
  </div>
</header>
