<nav class="menu-container clearfix">
  <ul class="menu-container__list">
    <li class="menu-container__list__item">
      <a href="./">На главную</a>
    </li>  
    <li class="menu-container__list__item">
      <a href="contacts.html"> Контакты</a>
    </li>
  </ul>
</nav>
