<section class="offer clearfix">
  <div class="flexible-container">
    <div class="offer__feedback-wrapper">
      <div class="offer__feedback">
        <h2 class="offer__title">
          Заполните форму
        </h2>
        <h3 class="offer__subtitle">
          и получите ...
        </h3>
        <div class="r5mFeedback offer__feedback__form">
          <form action="/feedback" class="r5mFeedback__form">
            <label class="r5mFeedback__label">
              <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
              <input class="r5mFeedback__input" name="name" required type="text" />
            </label>
            <%# <label class="r5mFeedback__label">
              <span class="r5mFeedback__placeholder">Телефон*</span>
              <input class="r5mFeedback__input" name="phone" required type="text" />
            </label>%>
            <label class="r5mFeedback__label last">
              <span class="r5mFeedback__placeholder">E-mail или телефон*</span>
              <input class="r5mFeedback__input" name="email" type="text" required />
            </label>
            <button class="r5mFeedback__submit-button submit-button r5m-action" type="submit">
              <!-- <i class="fa fa-check"></i>  -->
              Получить консультацию
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
