<section class="offer clearfix">
  <div class="flexible-container">
    <div class="offer__container clearfix">
      <div class="offer__picture-wrapper">
        <img class="offer__picture" src="http://lorempixel.com/300/200/city" alt="Узнайте стоимость сайта">
      </div>
      <div class="offer__feedback-wrapper">
        <div class="offer__feedback">
          <h2 class="offer__title">
            Получите <span class="offer__title__wow">бесплатную консультацию</span> <br/>и расчет стоимости сайта
          </h2>
          <%# <h3 class="offer__subtitle">
            и получите ...
          </h3>%>
          <div class="r5mFeedback offer__feedback__form">
            <form action="/feedback" class="r5mFeedback__form">
              <label class="r5mFeedback__label r5mFeedback__label_contacts">
                <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
                <input class="r5mFeedback__input" name="name" required type="text" />
              </label>
              <%# <label class="r5mFeedback__label">
                <span class="r5mFeedback__placeholder">Телефон*</span>
                <input class="r5mFeedback__input" name="phone" required type="text" />
              </label>%>
              <label class="r5mFeedback__label r5mFeedback__label_contacts last">
                <span class="r5mFeedback__placeholder">E-mail или телефон*</span>
                <input class="r5mFeedback__input" name="email" type="text" required />
              </label>
              <label class="r5mFeedback__label r5mFeedback__label_text">
                <span class="r5mFeedback__placeholder">Описание Ваших пожеланий</span>
                <textarea class="r5mFeedback__text" name="text"></textarea>
              </label>
              <button class="r5mFeedback__submit-button submit-button reasons-offer__actions__order r5m-action" type="submit">
                <!-- <i class="fa fa-check"></i>  -->
                Узнать стоимость
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
