<%- include('./_header.ejs'); %>

<section class="contacts">
  <div class="flexible-container">
    <h2>Контакты</h2>
    <p>

    </p>
    <p class="contacts__entry">Телефон для связи: <span class="contacts__entry__value"></span></p>
    <p class="contacts__entry">Электронная почта: <span class="contacts__entry__value"></span></p>
  </div>
</section>

<%- include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>


<%- include('./_forms.ejs'); %>
