body {
  font-family: 'Open Sans', sans-serif;
  color: #262936;
  min-width: 900px;
}

section h2 {
  font-family: 'Roboto Slab', serif;
  color: #0e2f3e;
  font-size: 1.8rem;
  text-transform: uppercase;
  max-width: 900px;
  text-align: center;
  margin: 20px 0 50px 0;
}

.mailto-link {
  color: #00bfad;
  font-weight: 700;
}

section {
  padding: 30px 0;
  background-color: #efefef;
}

.r5m-dimmer-active {
  background-color: rgba(10%, 10%, 10%, 0.7);
}
