.header {
  background: #1F324a;
  /*background-image: radial-gradient(#252e3b, #1F2731);*/
  color: #f8f8f8;
  /*min-height: 70vh;*/
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}
.header-wrapper {
  position: relative;
  background: url('../../images/header-bg.png') no-repeat;
  background-size: 60% auto;
  background-position: bottom right;
  overflow: visible;
}

/* Это извращение. */


/*
.header-wrapper::before {
  position: absolute;
  content: " ";
  display: block;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 10000px;
  background: rgba(60, 42, 11, 0.3);
}

.header-wrapper::after {
  position: absolute;
  content: " ";
  display: block;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 10000px;
  background: rgba(60, 42, 11, 0.3);
}*/


/* Конец извращения. */

.header-wrapper-2 {
  /*background: rgba(60, 42, 11, 0.3);*/
  /*min-height: 70vh;*/
}
.header-container {/*
  padding: 100px 0 300px;*/
  padding: 50px 0 120px;
}
.header__title {
  margin: 0 0 10px 0;
  text-shadow: 0 0 2px #333;
  font-size: 3.2rem;
}
.header__subtitle {
  font-weight: normal;
  margin: 1.2rem 0;
  text-shadow: 0 0 2px #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}
.header__subtitle ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__subtitle ul li {
  padding: 3px 0;
}
.header__subtitle ul li i {
  padding-right: 10px;
}
.header__actions {
  margin: 40px 0 0 0;
}
.header__actions button {
  background: #00bfad;
  border: none;
  box-shadow: 0 0 1px #666;
  padding: 15px 30px;
  font-weight: normal;
  color: #f8f8f8;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.header__actions button:hover {
  color: #f8f8f8;
  background: #08a899;
}
