.team {
  text-align: center;
}

.team-header {
  margin-bottom: 30px;
}

.team__member {
  display: inline-block;
  width: 25%;
  padding: 20px 30px;
  text-align: center;
  vertical-align: top;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team__member__description {
  margin: 0;
}

.team__member__info {
  color: #262936;
}

.team__member__name {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  color: #0e2f3e;
}

.team__member__position {
  margin: 10px 0 0 0;
}

.team__member__photo-wrapper {
  width: 80%;
  margin: 0 auto 10px;
  position: relative;
}

.team__member__photo.placeholder {
  position: static;
  max-width: 100%;
  width: 220px;
  transform: none;
  visibility: hidden;
}

.team__member__photo {
  -ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  /*width: 100%;*/
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 220px;
}

/* our photos */
.team__member__photo-wrapper
.team__member__photo.real{
  border-radius: 50%;
  opacity: 0;
}

.team__member__photo-wrapper:hover
.team__member__photo.real{
  display: inline;
  opacity: 1;
  /*width: auto;
  max-width: none;*/
}

.team__member__photo-wrapper:hover
.team__member__photo {
  opacity: 0;
}
