<%-
   include('../bower_components/r5m-cms/tpl/layout.ejs', {
      title: 'Профессиональные посадочные страницы для вашего бизнеса от 25т.р.',
      titleHtml: 'Профессиональные <span class="utm1">посадочные страницы</span><br/>для вашего бизнеса от&nbsp;25т.р.',
      tagline: 'Индивидуальный дизайн. Мобильная версия в подарок.',
      motto: 'Мы делаем сайты, в которые вы влюбляетесь',
      subtitle: locals.subtitle,
      parts: [locals.parts],
      isMobile: true,
      fonts: {
        google: [
          'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic',
          'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic'
        ]
      },
      feedbackService: 'formspree',
      yandexId: null,
      info :{
        city: 'г. Томск',
        email: 'info@r5m.me',
        year: '2016',
        phone: '+7 999 619 3890',
        copyright: 'R5M group'
      },
      utmContent: {
        utm1: {
          'посадочн': 'посадочные страницы',
          'продающ': 'продающие страницы',
          'landing': 'Landing Page',
          'лендинг': 'Landing Page'
        },
        utm2: {
          'продающ': 'индивидуальной продающей страницы',
          'посадочн': 'индивидуальной посадочной страницы',
          'landing': 'индивидуального Landing Page',
          'лендинг': 'Лендинг'
        },
        utm3: {
          'посадочн': 'Продающая страница',
          'посадочн': 'Посадочная страница',
          'landing': 'Landing Page',
          'лендинг': 'Лендинг'
        }
      }
   });
%>
