<%-
   include('../bower_components/r5m-cms/tpl/layout.ejs', {
      title: 'Профессиональные Landing Page для вашего бизнеса от 15т.р.',
      titleHtml: 'Профессиональные <span class="utm1">Landing Page</span><br/>для вашего бизнеса от&nbsp;15т.р.',
      tagline: '<ul>\
      <li><i class="fa fa-check"></i> Выделим Вас на фоне конкурентов</li>\
      <li><i class="fa fa-check"></i> Изготовим индивидуальный дизайн</li>\
      <li><i class="fa fa-check"></i> Подарим мобильную версию сайта</li>\
      <ul>',
      motto: 'Мы делаем сайты, в которые вы влюбляетесь',
      metaTags: {
        description: 'Создание Landing Page под ключ с индивидуальным дизайном от 15т.р. Мобильная версия в подарок.',
        keywords: 'Сайт, Landing page, Дизайн, разработка сайтов, заказать сайт, мобильная версия сайта, продающие сайты',

        title: 'Профессиональные Landing Page для вашего бизнеса от 15т.р.',
        image: './images/header-bg-fill.jpg',
        url: 'https://r5m.me',
        lat: '56.452383',
        lon: '84.973682',

        locality: 'Томск',
        postal: '634045',
        country: 'Россия',

        yaVer: '52b1f408216a1df1',
        goVer: 'hMbf1cLzszr-wTdhe3hcCQQM3rNmbNKKvwejgamFrtA'
      },
      subtitle: locals.subtitle,
      parts: [locals.parts, '_metrika', '_chat'],
      meta: '_meta',
      isMobile: true,
      hasFavicon: true,
      fonts: {
        google: [
          'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic',
          'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic'
        ]
      },
      feedbackService: 'formspree',
      feedbackEmail: 'milikhin@gmail.com',
      yandexId: 35678315,
      info : {
        city: 'г. Томск',
        email: 'info@r5m.me',
        year: '2016',
        phone: '+7 (999) 177 8901',
        phoneLink: '+79991778901',
        copyright: 'R5M group'
      },
      utmContent: {
        utm1: {
          'посадочн': 'посадочные страницы',
          'продающ': 'продающие страницы',
          'landing': 'Landing Page',
          'лендинг': 'Landing Page'
        },
        utm2: {
          'продающ': 'индивидуальной продающей страницы',
          'посадочн': 'индивидуальной посадочной страницы',
          'landing': 'индивидуального Landing Page',
          'лендинг': 'Лендинг'
        },
        utm3: {
          'посадочн': 'Продающая страница',
          'посадочн': 'Посадочная страница',
          'landing': 'Landing Page',
          'лендинг': 'Лендинг'
        }
      }
   });
%>
