<%-
   include('../bower_components/r5m-cms/tpl/layout.ejs', {
      title: 'Профессиональные посадочные страницы для вашего бизнеса от 25т.р.',
      titleHtml: 'Профессиональные <span class="utm1">посадочные страницы</span><br/>для вашего бизнеса от&nbsp;25т.р.',
      tagline: 'Индивидуальный дизайн. Мобильная версия в подарок.',
      motto: 'Мы делаем сайты, в которые вы влюбляетесь',
      subtitle: locals.subtitle,
      parts: [locals.parts],
      isMobile: true,
      fonts: {
        google: [
          'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic',
          'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic'
        ]
      },
      feedbackService: 'formspree',
      yandexId: 35678315,
      info :{
        city: 'г. Томск',
        email: 'info@r5m.me',
        year: '2016',
        phone: '+7 999 619 3890',
        copyright: 'R5M group'
      },
      utmContent: {
        utm1: {
          'посадочн': 'посадочные страницы',
          'продающ': 'продающие страницы',
          'landing': 'Landing Page',
          'лендинг': 'Landing Page'
        },
        utm2: {
          'продающ': 'индивидуальной продающей страницы',
          'посадочн': 'индивидуальной посадочной страницы',
          'landing': 'индивидуального Landing Page',
          'лендинг': 'Лендинг'
        },
        utm3: {
          'посадочн': 'Продающая страница',
          'посадочн': 'Посадочная страница',
          'landing': 'Landing Page',
          'лендинг': 'Лендинг'
        }
      },
      yandexScript: '<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35678315 = new Ya.Metrika({ id:35678315, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/35678315" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->'
   });
%>
